/* styles/utilities/_animations.css */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s, transform 0.8s;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
