/* styles/layout/_grid.css */
/* Grid Linhas (Cards Expansíveis) */
.grid-linhas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

/* Grid Combos e Especiais */
.order-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}
